confidential.txt
# one-planet-fuel-station-firebase-adminsdk-7vkbh-0548d89e33.json
# /app/one-planet-fuel-station-firebase-adminsdk-7vkbh-0548d89e33.json
# /app/one-planet-fuel-station-firebase-adminsdk-7vkbh-0548d89e33.json
# /app/one-planet-fuel-station-firebase-adminsdk-7vkbh-0548d89e33.json
.gitignore